
/*
 *
 * fix css
 *
 */
html{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    overflow-y: hidden;
}

header.masthead{
    background-image: url('../img/home-bg.jpg');
    padding:200px 0;
}