
/*
 *
 * fix css
 *
 */
html{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    /*overflow-y: hidden;*/
    font-size: small;
    background-image: url('../img/grey.png');
}

header.masthead{
	background-color: initial;
    padding:100px 0;
}


#mainNav .navbar-nav>li.nav-item>a{
	color: black;
}

p{
	font-size: 13px;
	line-height: 2;
	margin:0 20px;
	text-indent: 2em;
}

#mainNav .navbar-nav>li.nav-item>a:hover{
	color:gray;
}

p a, a:hover, a:active{
	text-decoration: none;
}

footer {
	padding-top: 20px;
}

footer a {
	font-size: 14px;
}

footer p a {
	font-size: small;
}

.main-content p{
	text-indent: 2em;
}

.main-content li{
	line-height: 2em;
}


hr{
	width: 80%;
}
