/*
*   文件 ： main.css
*   作者 ： 文琼 http://www.lrj.name
*   修改时间 ： 2014/12/28
*/

/************************************ 基本样式 basic ***********************************/

*{
  margin: 0;
  padding: 0;
}
html{
  width:100%;
  overflow-x: hidden;
  overflow-y: visible;
}
body{
  background: url(../images/blueprint-dark.png) repeat;
  background-color: rgba(184, 172, 81, 0.07);
  font-size: 13px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  text-shadow: #000 0px 0px 0px;
  width: 100%;
  overflow: hidden;
  /*background: url(/images/grey.png);*/
  /*font-family: "Comic Sans MS","微软雅黑";*/
  letter-spacing: 0.3px;
}
body, header, footer, article, h1, h2, h3, h4, h5, ol, ul, li, div, p, pre{
  margin: 0;
  padding: 0;
  border: 0;
}
h1, h2, h3, h4, h5{
  margin: 7px 0;
}
h2{
  font-size: 1.1em;
  margin: 2em 0 1em 0;
  font-weight: bold;
}
h3{
  margin: 0.9em 0;
  font-size: 1em;
}
p{
  text-indent: 2em;
  margin: 0.4em 0;
  font-size: 1.0em;
  line-height: 2.1em;
}
footer p{
  text-indent: 0;
}
.no_indent{
  text-indent: 0;
}
.main_container .indent{
  margin-left: 2em;
}
hr{
  border-top-color: #a78b88;
}
.main_container.index h2{
  padding-left: 1em;
}
.main_container.index h2{
  margin: 4em 0 2em 0;
}
.main_container.index h2:nth-of-type(odd){
  background: url('../images/blue-line.png') no-repeat;
}
.main_container.index h2:nth-of-type(even){
  background: url('../images/black-line.png') no-repeat;
}

.main_container.index hr{
  margin: 3em 0;
}

.mark_first_letter:first-letter{
  font-size: 1.5em;
  text-transform: uppercase;
}

/************************************ 修改 bootstrap 样式 ***********************************/
/* 表格 table 部分 */
.table{
  margin: 1em 0;
}
.table caption{
  margin: 10px 0;
}
.table th, .table td{
  vertical-align: middle;
  text-align: left;
}
.table.no_border td{
  border-width: 0;
}
.table_color thead tr{
  background-color: darkseagreen;
}
.table_color tbody tr:nth-child(odd){
  background-color: honeydew;
}
.table_color tbody tr:nth-child(even){
  background-color: lightyellow;
}

/* 表单 form 部分 */
input[type="file"]{
  line-height: 1.5em;
  width: 200px;
}
input{
  height: 1.9em;
  border-radius: 2px;
  border: 1px solid #aaa;
  padding: 0 2px;
}


/************************************ 颜色 color ***********************************/

.dark-grey {
	color: #232527;
}
.light-grey{
	color: #D2D2D2;
}
.red{
	color: #F85D5D;
}
.blue{
	color: #75D2D7;
}
.white{
	color: #FFFFFF;
}

/**************** 主内容 main content 部分 *****************/
body > header, body > footer, body > .container{
}
.container{
  margin-bottom: 20px;
}
.container .row{
}

.main_container{
  min-height: 500px;
}
.main_container ol, .main_container ul{
  margin: 0.5em 0;
}
.main_container ol li, .main_container ul li{
  margin-left: 1em;
  line-height: 2.3em;
}

a:hover {
	transition: color 0.35s;
	text-decoration: none;
}

a, a:visited, a:link{
  text-decoration: none;
  color: black;
}

[class^="icon-"], [class*=" icon-"] {
	vertical-align: middle;
}

.page_nav{
  padding: 5px 0;
  text-align: center;
}
.page_nav a{
  padding: 0 5px;
}
.page_nav select{
  border-radius: 1px;
  font-size: 0.9em;
  width: 150px;
  height: 25px;
  margin: 0 10px;
}

/**************** 文章页面 article *****************/
.main_container article{
  margin: 3% 0;
}
.article{
  margin: 3% 0;
}
article p{
  font-size: 1.1em;
  line-height: 2.0em;
  margin: 20px 0;
}
article p:first-child:first-letter{
  font-size: 1.6em;
  text-transform: uppercase;
}

.posts .posts_title{
  margin: 5px 0;
}
.posts .posts_title::before{
  content: "";
  /*background-image: url('/images/webpro-comment.jpg');*/
  float: left;
  min-width: 40px;
  min-height: 40px;
  border-radius: 45px;
  position: relative;
  top: 0px;
  left: -50px;
}

.posts .posts_content{
  margin: 15px 0;
}
.posts .posts_meta{
  margin: 10px 0;
}
.posts h2{
  font-size: 1.1em;
  margin: 1.2em 0;
  font-weight: bold;
}
.posts .posts_content ol, .posts .posts_content ul{
  margin: 15px 0;
}

/**************** 地图导航 site-map  *****************/
.btn-link{
  font-size: 12px;
}
.btn-link:focus, .btn-link:hover{
  text-decoration: none;
}


/******************** footer *******************/

footer.footer_thanks a{
  border-bottom: dotted 1px #999;
}
footer.footer_thanks a:hover{
  border-bottom: solid 1px #666;
}


/***************** posts ************/
.posts_title h3{
  display: inline-block;
  font-size: 1em;
  margin-left: -40px;
}
.posts .posts_operation{
  float: right;
  padding-top: 20px;
  visibility: hidden;
}
.posts .posts_operation button:hover, .posts .posts_operation button:focus, .img_xinshang button:hover, .img_xinshang button:focus{
  text-decoration: none;
  color: green;
  font-weight: bold;
  outline: none;
}

.metro{
  float: left;
  height: 130px;
  width: 100px;
  margin: 10px 20px;
  text-align: center;
  vertical-align: middle;
}
.metro .metro_img a{
  width: 100%;
}
.metro .metro_img{
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.metro img{
  width: 100%;
}
.metro .metro_info{
  width: 100%;
  padding: 5px 0;
}
/***************** scroll to top ************/
.nav_page{
    position:fixed;
    bottom:20px;
    right:25px;
}
.nav_page li{
  list-style: none;
  margin: 20px 0;
}
.nav_page li a{
    border-radius: 15px;
    padding: 3px;
    text-align:center;
    background: rgba(40,40,40,0.85);
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav_page li a:hover{
    color: #000;
}

/*************** login/sign-up form *******************/
.login .form_div{
  margin-top: 10px;
  margin-right: 12%;
  margin-left: 3%;
  margin-right: 8%;
}
.sign-up .form_div{
  margin-top: -15px;
  margin-left: 3%;
}

.login .form-horizontal .controls, .sign-up .form-horizontal .controls{
}

.login .input-group, .login .form-group, .sign-up .input-group, .sign-up .form-group{
  margin: 15px 0;
}
.login .form-group.submit, .sign-up .form-group.submit{
  margin-top: 20px;
}
.login .submit .btn{
  width: 60%;
}

.sign-up .submit .btn{
  width: 30%;
  margin-right: 15px;
}
.profile_form .btn{
  width: 30%;
}

.login .submit .btn:focus{
  outline: none;
}
.login .submit .btn:hover, .login .submit .btn:focus{
}
.main_container{
  min-height: 400px;
  margin-top: 40px;
}

#post_form #input_title{
  width: 90%;
}
#post_form #input_summary{
  width: 90%;
}
textarea{
  font-size: 0.9em;
  width: 80%;
  height: 300px;
}
.posts_comments{
  margin-top: 25px;
}
.posts_comments form{
  margin: 15px 0;
}
.posts_comments h3{
  font-size: 1em;
}
.posts_comments textarea{
  height: 120px;
  width: 90%;
  font-size: 1.0em;
  border-radius: 0;
  padding: 5px;
  border: 1px solid #aaa;
}
.form-horizontal .form-group {
  margin-left: 0;
}

#post_form .submit .btn{
  margin: 10px 40px 0 100px;
}
#post_form select{
  padding: 3px;
  width: 30%;
  vertical-align: sub;
}
.main_container label{
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  font-size: 12px;
}
.container.login .btn, .container.sign-up .btn{
  font-size: 1em;
}
.container.login .submit, .container.sign-up .submit{
  text-align:center;
}
.container.sign-up .submit label{
  padding-top: 12px;
}

.sign-up-tips{
  padding: 0 5px;
}

form#logout{
  text-align: center;
}

.random-page input{
  font-size: 12px;
}
.random-page .btn{
  margin: 0 8px;
}
.main_container input{
  font-size: 12px;
}
.navbar-inner{
  padding: 0;
}

#warn_message{
  text-align: center;
  color: red;
  height: 30px;
}

.main_container .nav-tabs{
  margin: 0;
  margin-bottom: 30px;
}
.post_edit pre{
  background: #CEC9AE;
}
.prettyprint{
  /*font-family: "Comic Sans MS","微软雅黑" !important;*/
  letter-spacing: 0.5px;
}
.prettyprint ol.linenums{
  padding-left: 3.5em;
  border-left: 3px solid rgba(0, 83, 159, 0.65);
  border-radius: 0;
  background-image: url("../images/blueprint-dark.png");
}
.prettyprint ol li{
  line-height: 1.7em;
  font-size: 0.9em;
  background-color: initial;
}
.prettyprint ol li span{
  font-size: 1.2em;
  display: inline-block;
  transform: scale(0.92);
}
/*************** footer *********************/
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
}

/*************** ilovers *********************/

div.ilovers{
  margin: 15px 0;
  font-size: 1.05em;
}
.ilovers h2,.ilovers p,.ilovers ul, .ilovers ol{
  font-size: 1.00em;
  line-height: 2em;
  margin: 7px 0;
}
.ilovers h2{
  font-size: 1.05em;
  font-weight: bold;
  margin: 10px 0 7px 0;
}
.ilovers.introduction h2{
  margin-top: 20px;
}
.ilovers h3{
  font-size: 0.95em;
  margin: 15px 0;
  font-weight: bold;
}
.ilovers ol, .ilovers ul{
  padding-left: 2em;
}
.ilovers .geshifilter ol li{
  font-size: 0.8em;
  color: #666;
  font-weight: bold !important;
}
.ilovers .geshifilter ol li div{
  color: initial;
  font-size: 1.3em;
}
.ilovers p{
  text-indent: 2em;
  /*word-spacing: 0.4em;*/
}
.ilovers p.no{
  text-indent: 0;
}
pre.nocode{
  margin: 8px 0;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: rgb(241, 85, 12);
  border-radius: 2px;
  border: 1px solid #EEE;
  line-height: 2.2em;
  background-image: url('../images/blueprint-dark.png');
}
.ilovers table caption{
  margin: 5px 0;
  text-align: center;
}
.ilovers table{
  font-size: 12px;
  width: 90%;
  margin: 5px 10px;
}
.ilovers table tr{
}
.ilovers table td, .ilovers table th{
  padding: 5px;
  line-height: 1.8em;
}
.ilovers .table-bordered{
  border: 1px solid #aaa;
}
.ilovers .table-bordered td, .ilovers table th{
  border: 1px solid #aaa !important;
}
.ilovers.article h3, .ilovers.article h5{
  text-align: center;
}
.ilovers.article h5{
  color: red;
}
.ilovers.article h4{
  font-size: 0.9em;
  text-align: right;
}
.ilovers.article .article_info{
  margin: 40px 0;
}
.ilovers.poem h3{
  margin-top: 25px;
}
.ilovers .pre_img img{
  max-height: 350px;
  max-width: 304px;
  margin-left: 2em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
.green{
  color: green;
}
.ilovers hr{
  border-width: 0 0 1px 0;
}

.ilovers .people{
	text-decoration:underline;
	padding-bottom: 1px;
	border-bottom: 1px solid #000;
}

.ilovers .center{
  text-align: center;
}

.article ol.addgap > li{
  margin-bottom: 1.0em;
}

.search{
  margin: 14px 0;
  min-width: 100%;
}
.search input{
  width: 60%;
  padding: 2px;
}
.search span{
  margin-left: -35px;
}
.posts_content p img {
  float: left;
  margin-right: 10px !important;
}

.post_header{
  font-size: 1.3em;
  text-align: center;
}
/* phone */
@media (max-width: 500px) {
  input {
    border-radius: 0;
  }
  .col-md-3, .col-md-5, .col-md-7, .col-md-8{
    padding: 0;
  }
  .index .row{
    padding: 0 12px;
  }
  .top_nav.container .row{
    background: #333;
  }
  .top_nav .nav_header a{
  	color: white;
  }
  .top_nav.container .fa{
    display: none;
  }
  .top_nav.container li{
    min-width: 13%;
  }
  .top_nav.container li a{
  	padding: 10px 4px;
  	font-weight: bold;
  	font-size: 1.1em;
  }
  .top_nav.container .header_panel{
    display: none;
  }
  .top_nav.container .search{
    display: none;
  }
  
  .main_container{
    margin: 10px 0;
    min-height: initial;
  }
  .main_container.index {
    padding: 0 1em;
  }
  .login .form_div{
    margin: auto 0;
  }
  .main_container.index h2{
    margin: 1em 0;
  }
  
  .nav_profile li.active a, .nav_profile li a {
    margin: 0;
  }
  .user_profile .panel{
    margin: 10px 0;
  }
  .container.posts{
    padding:0 7px;
  }
  .posts .posts_list .post_time{
    display: none;
  }
  .posts .posts_meta .posts_time{
    display: none;
  }
  .metro{
    margin: auto 4px;
    width: 28%;
  }
  .footer_thanks p[class~="other"]{
    display:none;
  }
  #notes_list{
    padding: 0 3%;
  }
  .posts #notes_list li{
	padding: 2px 5px;  
  }
  .posts .posts_list{
    padding-left: 1.5em
  }
  .posts .posts_list li div:nth-child(3n+1) {
    min-width: 60%;
  }
  .post_edit{
    margin: 0 4px;
  }  
  #notes_list.gallery_modal{
    padding: 0 4%;
  }
  #notes_list.gallery_modal li{
    padding-left: 4%;
  }
  #notes_list img{
    padding: 3px;
    max-width: 150px;
  }
  .gallery_modal .btn{
    padding: 3px 0;
  }
  .footer{
    margin-top: initial;
  }
  .ilovers .pre_img{
    text-align: center;
  }
  .posts_content p img {
  	float: none;
    display: block;
  }
  .ilovers .pre_img img{
    margin-left: 0em;
  }
}

@media (max-width: 380px) {
  .top_nav .htop{
  	text-align: center; 
  	color: white; 
  	/*padding: 5px;  */  
  	font-size:1.1em;
  }
  #notes_list.gallery_modal{
    padding: 0;
  }
  #notes_list.gallery_modal li{
    padding-left: 2px;
    margin-left: 0;
  }
  input[type="file"] {
    width: 175px;
  }
}